@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

h2 {
    font-size: 30px;
    font-family: 'Alata', sans-serif;
    font-weight: lighter;
}
h3 {
    font-size: 30px;
    font-family: 'Alata', sans-serif;
}
p {
    font-size: 20px;
    font-family: 'Alata', sans-serif;
}
.banner {
    background: linear-gradient(90deg,
                    rgba(0,0,0,0.5) 0%,
                    rgba(244,242,237,0.3) 100%),
            url("burntFenImages/banner2.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bannertext {
    position: absolute;
    bottom: 10px;
}
.banner h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    font-weight: bold;
}
#emailForm {
    display: inline-flex;
}
.section {
    height: 500px;
    display: flex;
    position: relative;
}
.section-text {
    position: absolute;
    bottom: 10px;
}
#biodynamic {
    background: linear-gradient(0deg,
                    rgba(0,0,0,0.7) 0%,
                    rgba(244,242,237,0.3) 100%),
            url("burntFenImages/biodynamic.jpg");
    background-size: cover;
    height: 500px;
    color: white;
}
#jumpbuttons {
    display: flex;
    flex-direction: row;
}
.sectionImg {
    max-height: 400px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#subsectionbees {
    display: flex;
    flex-direction: column;
    /* background-image: "https://upload.wikimedia.org/wikipedia/commons/9/92/Natural_Beehive_and_Honeycombs.jpg"; */
}
/* #biodynamic {
    width: 33%
}
#bio {
    width: 33%
}
#bees {
    width: 33%
} */